.html {
    height: 100%;
}

.body {
    height: 100%;
}

.container {
    margin: 20px;
    display: grid;
    height: 100vh;
    /*!*grid-template-columns: 200px 2fr 20% 1fr ;*!*/
    grid-template-columns: 1fr 2rem 2fr;
    grid-template-rows: 4.5rem auto 4.5rem;
    /*grid-template-rows: 5rem auto;*/
    background: gray;
    grid-gap: 1rem;
    grid-template-areas: "headers headers headers"
                         "side  main main"
                         "footer footer footer ";
}

.header {
    justify-items: center;
    text-align: center;
    background-color: rgba(56, 54, 56, 0.75);
    color: white;
    font-size: 40px;
    /*grid-row-start: 1;*/
    /*grid-row-end: 2;*/
    /*grid-column-start: 1;*/
    /*grid-column-end: -1;*/

    grid-area: headers;
}

.sidebar {
    background-color: rgba(56, 54, 56, 0.75);
    color: white;
    font-size: 40px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    justify-content: center;
    grid-area: side;
}

.main-content {
    background-color: rgba(0, 54, 56, 0.75);
    color: white;
    font-size: 40px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: -1;
    text-align: center;
    justify-content: center;
}

.footer {
    background-color: rgba(56, 54, 56, 0.75);
    color: white;
    font-size: 40px;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: -1;
    text-align: center;
    justify-content: center;
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start: 3;
    /*grid-column-end: span 2;*/
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;

}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}
